# Database
DATABASE_URL="postgresql://USER:PASS@HOST:PORT/DB?schema=public"
DATABASE_URL_TEST="postgresql://USER:PASS@HOST:PORT/DB_TEST?schema=public"

# App
NODE_ENV="development"
APP_BASE_URL="http://localhost:3000"
