# Database
DATABASE_URL="postgresql://USER:PASS@HOST:PORT/DB?schema=public"
DATABASE_URL_TEST="postgresql://USER:PASS@HOST:PORT/DB_TEST?schema=public"

# App
NODE_ENV="development"
APP_BASE_URL="http://localhost:3000"
PRICE_PREDICTION_API_URL="http://localhost:8000"
PLANTING_CALENDAR_API_URL="http://localhost:8001"
PRICE_PREDICTION_MARKET="pasar_tradisional"
PRICE_PREDICTION_PROVINCE="DI Yogyakarta"
